@import "tailwindcss";

@theme {
    --color-primary: oklch(0.15 0 0);
    --color-light-gold: oklch(0.7 0.14 85);
    --color-medium-gold: oklch(0.55 0.14 85);
    --color-dark-gold: oklch(0.4 0.14 85);
}

header {
    animation: from-top 2s cubic-bezier(0.25, 1, 0.5, 1) 0.5s forwards;
}

#hero-txt {
    animation: from-top 1.5s cubic-bezier(0.25, 1, 0.5, 1) 0.5s forwards;
}

#desc {
    animation: from-right 1.5s cubic-bezier(0.25, 1, 0.5, 1) 0.8s forwards;
}

@keyframes from-top {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes from-right {
    0% {
        opacity: 0;
        transform: translateX(-3000px);
    } 100% {
        opacity: 1;
        transform: translateX(0px);
    }
}